section {
  width: 100%;
  padding-top: 70px;
  @media @tablet {
    margin-top: 1100px;
  }
  @media @mobile {
    margin-top: 1100px;
  }

  .section_contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    padding: 0 15px;
    height: 100vh;
    .media-desktop notebook {
      flex-direction: column;
    }
  }
  .section_text {
    max-width: 700px;
    font-family: "Philosopher", sans-serif;
    color: black;
    padding-bottom: 20px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    @media @tablet {
      margin: 0 auto;
      width: 100%;
    }
    @media @mobile {
      margin: 0 auto;
      width: 100%;
    }

    .media-desktop {
      margin-bottom: 15px;
    }
    .contact_section{
      &{
        animation-fill-mode: both;
        animation-duration: 1s;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-name: headShake;
        animation-timing-function: ease-in-out;
      }
      & {
        animation-iteration-count: infinite;
      }
      @keyframes headShake {
        from {
          transform: translateX(0);
        }
        6.5% {
          transform: translateX(-6px) rotateY(-9deg);
        }
        18.5% {
          transform: translateX(5px) rotateY(7deg);
        }
        31.5% {
          transform: translateX(-3px) rotateY(-5deg);
        }
        43.5% {
          transform: translateX(2px) rotateY(3deg);
        }
        50% {
          transform: translateX(0);
        }
      }
  
    }
    h1 {
      font-size: 35px;
    }
    h2 {
      font-size: 25px;
    }
    h3 {
      font-size: 20px;
      @media @mobile {
        font-size: 15px;
      }
    }
    a {
      text-decoration: none;
      color: black;
      font-size: 25px;
      
      &:hover {
        color: pink;
      }
    }
  }
  img {
    height: 70vh;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 24px 0px black;
    @media @tablet {
      display: none;
    }
    @media @mobile {
      display: none;
    }
  }
}

footer {
  height: 75px;
  width: 100%;
  background-color: black;
  background-size: cover;
  background-position: center;
  box-shadow: 8px 8px 24px 0px black;
  display: flex;
  div {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
  }
  a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: "Philosopher", sans-serif;
    &:hover {
      color: pink;
    }
    
  }
  .footer_item {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    a {
      margin-right: 35px;
    }
  }
}
